@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="StyleSheet" href="~/css/StyleSheet.css" />

  <h1>Welcome To Online Store
 </h1>


<section>
    <nav style="background-color:papayawhip">

        <div>
                <a href="home.html">Home</a>
                &nbsp;

                 <a href="electronics.html">Electronics</a>
                &nbsp;

                 <a href="mobiles.html">Mobiles</a>
                &nbsp;

                 <a href="Fashion.html">Fashion</a>
                &nbsp;

        </div>
    </nav>

    <img src = "~/Images/Ecommerce-Website.webp" height="500" width="1000"/>
</section>