@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="StyleSheet" href="~/css/StyleSheet.css" />

  <h1 style="text-align:center "  >Welcome To Online Store
 </h1>


<section>
    <nav style="background-color:papayawhip">

        <div>
                <a href="https://www.amazon.in/s?k=home+page+amazon&hvadid=72224313244491&hvbmt=bp&hvdev=c&hvqmt=p&tag=msndeskstdin-21&ref=pd_sl_5n3ky2v9ac_p">Home</a>
                &nbsp;

                 <a href="https://www.amazon.in/Electronics/s?rh=n%3A976419031&fs=true&page=2">Electronics</a>
                &nbsp;

                 <a href="https://www.bing.com/shop?q=amazon+mobile+offer+today&FORM=SHOPPA&originIGUID=5D2FB1B1CEBD46DBA3D3C315476AA7B8">Mobiles</a>
                &nbsp;

                 <a href="https://www.amazon.in/b?node=6648217031">Fashion</a>
                &nbsp;

        </div>
    </nav>

    <img src = "~/Images/eStore.jpg" height="500" width="1000"/>
</section>