@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Map the Page Layout for this Razor View Page

    this.Layout = "~/Pages/Shared/_Layout.cshtml";

    string author = "Dhanshri Ashok Gaikwad";

}

<h1>Index 2 Demo</h1>

<p>This Page has been designed by @author.ToUpper()</p>