@page
@model WebsiteDemo.Web.Pages.Index2Model
@{
    ViewData["Title"] = "About Us";
}
<h1 style="font-family:'Berlin Sans FB'; color:darksalmon;text-align:center">@ViewData["Title"]</h1>

<body >
<div style="background-color:lightsalmon" >
    <style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
  
}
</style>


<center><h2>We Provide</h2></center>
<center><h4>Hygine is not only to Body and Food ,but also applies to Brain</h4></center>

<div class="row">
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU5vCJbO9HLQbQsUGgWCDDkQ2HEhEX5h218A&usqp=CAU" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="https://www.posist.com/restaurant-times/wp-content/uploads/2016/05/food-878448_1920-800x533.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="https://www.posist.com/restaurant-times/wp-content/uploads/2020/04/coronavirus-food-delivery-1.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<br /><br />

<center><h4>Foods Which Is our Speciality</h4></center>
<div class="row">
  <div class="column">
    <img src="https://thumbs.dreamstime.com/b/veg-thali-indian-cuisine-food-platter-consists-variety-veggies-paneer-dish-lentils-rice-roti-sweet-snacks-etc-selective-225929379.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="https://recipes.timesofindia.com/thumb/msid-55045560,width-1600,height-900/55045560.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="https://www.aayisrecipes.com/wp-content/uploads/Konkani-veg-thali1.jpg" alt="Mountains" style="width:100%">
  </div>
</div>

</div>
</body>