@model IEnumerable<Healthifyme.Web.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
  
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/exercise3.jpg" width="100%" alt="Card image cap">
                <div class="card-body text-center">
                    @*<button type="button" class="btn btn-primary"> <a style="color:black" href="https://localhost:44374/Dietitions/Exercises/Details/5">Details</a> </button> |*@
                    <p>Walking -To Know About how many steps you need to walk everday. </p>
                   <button type="button" class="btn btn-warning"> <a style="color:black" id="register" asp-area="Identity" asp-page="/Account/Register">Register to see Detailed Exercises</a> </button>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/exercise4.jpg" width="100%" alt="Card image cap">
                <div class="card-body text-center">
                  @*  <button type="button" class="btn btn-primary">  <a style="color:black" href="https://localhost:44374/Dietitions/Exercises/Details/3">Details</a> </button> |*@
                    <p>Iyengar Yoga -To Know About the Iyengar Yoga steps. </p>
                   <button type="button" class="btn btn-warning"> <a style="color:black" asp-area="Food" asp-controller="Registerations" asp-action="create">Register to see Detailed Exercises</a> </button>
                </div>
            </div>
        </div>
    </div>

</div>        
<div class="row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/exercise13.jpg" width="100%" alt="Card image cap">
                <div class="card-body text-center">
                    @*<button type="button" class="btn btn-primary"> <a style="color:black" href="https://localhost:44374/Dietitions/Exercises/Details/5">Details</a> </button> |*@

                    <button type="button" class="btn btn-warning"> <a style="color:black" id="register" asp-area="Identity" asp-page="/Account/Register">Register to see Detailed Exercises</a> </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="~/Images/exercise12.jpg" width="100%" alt="Card image cap">
                <div class="card-body text-center">
                    @*<button type="button" class="btn btn-primary"> <a style="color:black" href="https://localhost:44374/Dietitions/Exercises/Details/5">Details</a> </button> |*@

                    <button type="button" class="btn btn-warning"> <a style="color:black" id="register" asp-area="Identity" asp-page="/Account/Register">Register to see Detailed Exercises</a> </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


@*<!DOCTYPE html>
<script runat="server">

      
 
</script>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> CODE4EXAMPLE </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
 
	<body>
        <div class="container">
            <h1>ASP.NET BODY MASS INDEX (BMI)</h1>
             <form id="form1" runat="server">
                <div class="form-group">
                  <label for="height">Please Enter your Height in Inches :</label>
                  <asp:TextBox ID="height" class="form-control" placeholder="69" runat="server" />
                </div>
                <div class="form-group">
                  <label for="weight">Please Enter your weight in Pounds :</label>
                  <asp:TextBox ID="weight" class="form-control" placeholder="150" runat="server" />
                </div>
                <div class="form-group">
                <asp:Button 
                    ID="Button1" 
                    runat="server"
                    class="btn btn-success"
                    OnClick="Button1_Click"
                    Text="Calculate BMI"
                    /> 
                </div>
                 
              </form>
              <div class="<%=bmiStyle%>" role="alert" id="bmi">
                <asp:Label ID="result" Text="Body Mass Index" runat="server"/>
            </div>
          </div>  
</body>
</html>*@

