@page
@model HealthifyMe.Web.Pages.Index1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <script src="js/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="js/tabs.js" type="text/javascript"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">HealthifyMe.Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
        <div class="dropdown-menu">
        <a class=" dropdown-item"
        asp-area="Dietitions" asp-controller="Categories" asp-action="Index">Categories</a>
        <a class=" dropdown-item"
        asp-area="Dietitions" asp-controller="Dietitions" asp-action="Index">Dietitions</a>
        <a class=" dropdown-item"
        asp-area="Dietitions" asp-controller="Exercises" asp-action="Index">Exercises</a>
        <a class=" dropdown-item"
        asp-area="Dietitions" asp-controller="DietCharts" asp-action="Index">DietCharts</a>
        </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">User</a>
        <div class="dropdown-menu">
        <a class="dropdown-item"
        asp-area="DietitionDetails" asp-controller="Home" asp-action="Index">The Dietition</a>
        <a class="dropdown-item"
        asp-area="DietitionDetails" asp-controller="DietAndExercise" asp-action="Index">The Exercises</a>
        <a class=" dropdown-item"
        asp-area="Users" asp-controller="Customers" asp-action="Index">Users</a>
        </div>
        </li>


        </ul>
        </div>
        </div>
        </nav>

    </header>
</body>

</html>