@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Know about <a href="https://www.chefspencil.com/50-famous-indian-foods/">Indian Food</a>.</p>
</div>




