@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Employee Added Succesfully</h1>

<h1>This is Employee Validation using Javascript</h1>

